.toggleGroup {
    display: inline-flex;
    border: 1px solid var(--primary);
    box-shadow: var(--shadow);
}

.toggleGroupSelected {
    display: inline-flex;
    border: 1px solid var(--primary);
    box-shadow: var(--shadow);
    background-color: var(--primary);
    color: var(--primary-foreground);
}